<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.restaurant.mapper.FeedbackMapper">

    <resultMap id="BaseResultMap" type="com.restaurant.domain.Feedback">
            <id property="feedbackId" column="feedback_id" jdbcType="INTEGER"/>
            <result property="studentId" column="student_id" jdbcType="INTEGER"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="feedbackTime" column="feedback_time" jdbcType="TIMESTAMP"/>
            <result property="isHandled" column="is_handled" jdbcType="INTEGER"/>
            <result property="handleResult" column="handle_result" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        feedback_id,student_id,content,
        feedback_time,is_handled,handle_result
    </sql>
</mapper>
