<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.restaurant.mapper.SpecialDishMapper">

    <resultMap id="BaseResultMap" type="com.restaurant.domain.SpecialDish">
            <id property="specialId" column="special_id" jdbcType="INTEGER"/>
            <result property="dishId" column="dish_id" jdbcType="INTEGER"/>
            <result property="specialPrice" column="special_price" jdbcType="DECIMAL"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        special_id,dish_id,special_price,
        start_time,end_time
    </sql>
</mapper>
